.home-main{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

}
.home-first-container{
    justify-content: space-evenly;
    border:rgb(31, 133, 167) 1px solid;
}
.home-second-container{
    display:flex;
    flex-direction: row;
}
.home-second-container>div{
    border:lightblue 1px solid;
    flex-grow: 1;
    text-align: center;
}
.app-info{
    
}