.my-account{
    margin-inline: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: black 1px solid;
    min-height: 95vh;
}
.account-sidebar{
    padding: 10px 5px;
    border: rgb(226, 183, 43) 1px solid;
}
.account-main-container{
    margin-inline: 20px;
    border: blue 1px solid;
    min-height: 95vh;
    flex-direction: column;
}
.account-my-projects{
    padding: 10px 5px;
    min-height:30vh;
    border: rgb(226, 183, 43) 1px solid;
}