.navbar{
    border-bottom:solid black 1px;
    display: flex;
    padding: 0 20px 10px 20px;
    justify-content: space-between;
}
.nav-left{
    align-items: left;
    display: flex;
}
.nav-left>div{
    margin-right: 20px;

}
.nav-right{
    align-items: right; 
}
